@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

#btn {
    padding: 13px 40px;
    font-size: 13px;
    background-color: #f5675d;
    color: white;
    border: 2px solid rgb(253, 253, 253);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 4px rgb(190, 190, 190);
    transition: all 0.5s;
    font-weight: 600;
}

#btn1 {
    padding: 13px 40px;
    font-size: 13px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 4px rgb(190, 190, 190);
    transition: all 0.5s;
    border: 2px solid #f5675d;
    color: #f5675d;
}

#btn:hover,
#btn1:hover {
    transform: scale(1.2);
}

/* banner section start */
#banner {
    position: relative;
    background: url(../img/banner.png) no-repeat;
    background-position: top center;
    background-size: cover;
    height: 600px;
}

/* header section start */
header {
    height: 50px;
    padding-top: 10px;
    font-size: 17px;
}

header h3 {
    font-family: "Merriweather", sans-serif;
}

@media screen and (max-width:992px) {
    .navbar-nav {
        background-color: #270a49;
        position: absolute;
        width: 80%;
        z-index: 99;
    }
}

/* header section end */

#banner #first {
    position: absolute;
    top: 25%;
    left: 5%;
}

#banner #first p {
    letter-spacing: 0.5px;
    font-size: 17px;
    line-height: 20px;
}

#banner #second {
    position: absolute;
    right: 0%;
    top: 25%;
    padding-left: 100px;
}

#banner #second img {
    box-shadow: 0px 0px 30px 10px rgb(182, 182, 182);
    border-radius: 15px;
    width: 50%;
    transform: rotate(-25deg);
}

@media screen and (max-width:992px) {
    #banner #first {
        top: 20%;
        left: 0%;
    }
}

/* banner section end */
/* offer section start */
#boxes .col-lg-6 {
    padding: 20px 40px;
    position: relative;
    font-size: 14px;
}

#boxes .col-lg-6 .box {
    padding: 20px 20px 20px 50px;
    box-shadow: 0px 0px 20px 5px rgb(177, 175, 175);
}

#boxes .circle {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 6px rgb(161, 161, 161);
    position: absolute;
    top: 27%;
    left: 0%;
}

#boxes #c1 {
    background-color: #28BAC7;
}

#boxes #c2 {
    background-color: #fcfcfc;
}

#boxes #c3 {
    background-color: #FE7191;
}

#boxes #c4 {
    background-color: #EB6DE8;
}

#boxes #c5 {
    background-color: #00D463;
}

#boxes #c6 {
    background-color: #F3C203;
}

#boxes .col-lg-6 #box1 {
    background-color: #e4fbfd;

}

#boxes .col-lg-6 #box2 {
    background-color: #9B43FF;
    color: white;
}

#boxes .col-lg-6 #box3 {
    background-color: #FFF5F6;
}

#boxes .col-lg-6 #box4 {
    background-color: #FFF5FE;
}

#boxes .col-lg-6 #box5 {
    background-color: #F0FAFB;
}

#boxes .col-lg-6 #box6 {
    background-color: #FEFAEE;
}

@media screen and (max-width:576px) {
    #boxes .col-lg-6 {
        margin: 20px 0px;
        padding: 0px 0px 0px 40px;
    }

    #boxes .col-lg-6 .box h4 {
        font-size: 18px;
    }

    #boxes .col-lg-6 .box p {
        font-size: 12px;
    }

    #boxes .col-lg-6 .box {
        padding: 10px 10px 10px 30px;
    }

    #boxes .circle {
        height: 50px;
        width: 50px;
    }
}

/* offer section end */
/* expert section start*/
#expert img {
    box-shadow: 0px 0px 20px 0px rgb(189, 185, 185);
}

/* expert section end*/
/* package section start*/
#package .box {

    text-align: center;

}

#package #box1 h2 {
    border: 2px solid #81B6EC;
    padding: 20px;
    background-color: #d1e9ff;
    color: #1278cc;
}

#package #box2 {
    background-color: #9059FE;
    padding: 20px 15px 0px 15px;
    color: white;
}

/* package section end*/
/* footer section start*/
footer{
    background-color: #E9F7F8;

}
footer ul li{
    line-height: 35px;
}
/* footer section end*/